.profile__edit-button {
    padding: 0;
    border: 0;
    width: 18px;
    height: 18px;
    background-color: transparent;
    transition: opacity 0.5s;
}

.profile__edit-button:hover {
    opacity: 0.6;
}

@media screen and (min-width: 880px) {
    .profile__edit-button {
        width: 24px;
        height: 24px;
    }
}